<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="GCC (GNU Compiler Collection)"
         point="org.eclipse.help.contexts">
      <contexts
            file="help/gcc.xml"
            plugin="mcu.help">
      </contexts>
   </extension>

</plugin>
